<div class="about-wrapper">
<h2>...trained to be a minister, spent a summer in India,<br>nutured in the woods, but grown to love the concrete jungle</h2>

<div class="social">
<%= link_to "http://github.com/nkabrown", :target => "_blank" do  %>
  <p class="social-icon"><i class="fa fa-github fa-2x"></i></p>
<% end %>
<%= link_to "http://linkedin.com/in/nkabrown", :target => "_blank" do  %>
  <p class="social-icon"><i class="fa fa-linkedin fa-2x"></i></p>
<% end %>
<%= link_to "http://nkabrown.tumblr.com", :target => "_blank" do  %>
  <p class="social-icon"><i class="fa fa-tumblr fa-2x"></i></p>
 <% end %>
<%= link_to "http://twitter.com/nkabrownie", :target => "_blank" do  %>
  <p class="social-icon"><i class="fa fa-twitter fa-2x"></i></p>
<% end %>
</div>
<div class="badges">
  <div id="earlybird"><%= inline_svg("earlybird.svg") %></div>
</div>

</div>
