<div class="about-wrapper">
<h2>...trained to be a minister, spent a summer in India,<br> nutured in the woods, but grown to love the concrete jungle</h2>

<div class="social">
<%= link_to "http://github.com/nkabrown", :target => "_blank" do  %>
  <p class="social-icon"><i class="fa fa-github fa-2x"></i></p>
<% end %>
<%= link_to "http://linkedin.com/in/nkabrown", :target => "_blank" do  %>
  <p class="social-icon"><i class="fa fa-linkedin fa-2x"></i></p>
<% end %>
<%= link_to "http://nkabrown.tumblr.com", :target => "_blank" do  %>
  <p class="social-icon"><i class="fa fa-tumblr fa-2x"></i></p>
 <% end %>
<%= link_to "http://twitter.com/nkabrownie", :target => "_blank" do  %>
  <p class="social-icon"><i class="fa fa-twitter fa-2x"></i></p>
<% end %>
</div>
<div class="accomplishments">
  <div class="badge-container">
    <div id="earlybird" class="badges"><%= link_to inline_svg("earlybird.svg"), "http://nycda.com/classes/web-development-intensive/" %><p class="badge-description">I jumpstarted my learning by attending NYCDA&rsquo;s WDI</p></div>
    <div id="onboard" class="badges"><%= link_to inline_svg("onboard.svg"), "http://onboard.nycda.com" %><p class="badge-description">OnBoard is live! Jan 2015 WDI cohort</p></div>
  </div>
</div>
</div>
