<!DOCTYPE html>
<html>
<head>
  <title>Nathan KA Brown | Web Developer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <button class="lines-button x" type="button" role="button" aria-label="Toggle Navigation">
    <span class="lines"></span>
  </button>
  <nav class="overlay">
    <ul>
      <%= link_to "/about", "data-no-turbolink" => true do  %>
        <li>About</li>
      <% end %>
      <%= link_to "/work", "data-no-turbolink" => true do %>
        <li>Work</li>
      <% end %>
      <%= link_to "/nkabrown-2014.pdf", "data-no-turbolink" => true do %>
        <li>R&eacute;sum&eacute;</li>
      <% end %>
      <%#= link_to "/contact", "data-no-turbolink" => true do %>
        <!-- <li>Contact</li> -->
      <%# end %>
      <%= link_to "/", "data-no-turbolink" => true do %>
        <li>Home</li>
      <% end %>
    </ul>
  </nav>
<%= yield %>

</body>
</html>
