<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <button class="lines-button x" type="button" role="button" aria-label="Toggle Navigation">
    <span class="lines"></span>
  </button>
  <nav class="overlay">
    <ul>
      <li><%= link_to "About", about_path, "data-no-turbolink" => true %></li>
      <li><%= link_to "Work", work_path, "data-no-turbolink" => true %></li>
      <li><%= link_to "Resume", resume_path, "data-no-turbolink" => true %></li>
      <li><%= link_to "Home", root_path, "data-no-turbolink" => true %></li>
      <li><%= link_to "Contact", contact_path, "data-no-turbolink" => true %></li>
    </ul>
  </nav>
<%= yield %>

</body>
</html>
